@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@model IPagedList<ProductShowCaseDto>

<head>
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<div class="slideshow-container">
    <div class="mySlides">
        <img src="/images/gear-2094526_1280.jpg" style="width:100%" alt="Slideshow Image">
    </div>
</div>
<br />
<br />
<br />
<br />
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    @await Component.InvokeAsync("ProductWithCategories")
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form method="get" asp-controller="Home" asp-action="Index">
                            <div class="hero__search__categories">
                                Tüm Kategoriler
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Ne Aramıştınız ?" name="keyword">
                            <button type="submit" class="site-btn" style="background-color: #f5f5f5; color: black;">
                                Ara
                            </button>

                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+90 0552 222 2222</h5>
                            <span>7/24 Hizmetinizdeyiz</span>
                        </div>
                        <a id="whatsapp-order" class="right"  target="_blank">
                            <span class="fab fa-whatsapp" style="font-size: 24px; margin-right: 10px;"></span>
                            WhatsApp İletişim
                        </a>

                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
                            <div class="product__item" style="border: 2px solid #ddd; border-radius: 5px; padding: 25px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                <a asp-controller="Product" asp-action="GetProductDetail" asp-route-productId="@item.Id">
                                    <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl" style="height:300px; background-image:url('@item.ImageUrl'); background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 5px; padding: 0;">
                                    </div>
                                </a>
                                <div class="product__item__text" style="font-size: 18px; font-weight: bold; margin-top: 10px;">
                                    <a style="display: block; margin-bottom: 8px; color:black;">@item.Name</a>
                                    <a style="display: block; margin-bottom: 8px; color:black;">@item.Price.ToString("N2") TL</a>
                                </div>
                                <br>
                                <div class="button-group d-flex justify-content-center" style="margin-top: 10px;">
                                    <a asp-controller="Product" asp-action="GetProductDetail" asp-route-productId="@item.Id" class="btn btn-info mr-2" style="height: 50px; padding: 10px 20px; font-size: 16px; background-color: #f5f5f5; color: black; border: 0.5px solid #000000; margin-bottom: 50px;">
                                        <i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;Ürün Detayı
                                    </a>

                                    <form method="post" id="@item.Id" asp-page="/cart">
                                        <input type="hidden" name="Id" value="@item.Id">
                                        <input type="hidden" name="returnUrl" value="/Product/Index/@item.Id">
                                        <button type="submit" class="btn btn-outline-success" style="height: 50px; padding: 10px 20px; font-size: 16px; border: 0.5px solid #000000; margin-bottom: 50px;">
                                            <i class="fa-solid fa-basket-shopping"></i>&nbsp;&nbsp;Sepete Ekle
                                        </button>


                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Product", new { page = page }),
                new PagedListRenderOptions
                {
                ActiveLiElementClass = "active",
                PageClasses = new[] { "page-link" },
                LiElementClasses = new[] { "page-item" },
                UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
                LinkToNextPageFormat = "Sonraki",
                LinkToPreviousPageFormat = "Önceki",
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
                })

            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<div class="features">
    <div class="feature-item">
        <i class="icon icon-shopping-cart"></i>
        <h3>Güvenli Alışveriş</h3>
        <p>256 bit SSL şifreleme ile güvenle alışveriş yapın</p>
    </div>
    <div class="feature-item">
        <i class="icon icon-shield"></i>
        <h3>Orijinal Ürün Garantisi</h3>
        <p>%100 orijinal ve markalı ürün garantisi</p>
    </div>
    <div class="feature-item">
        <i class="icon icon-truck"></i>
        <h3>Güvenli Kargolama</h3>
        <p>Sipariş aşamasından elinize ulaşana kadar güvenli kargolama</p>
    </div>
    <div class="feature-item">
        <i class="icon icon-headset"></i>
        <h3>Teknik Yardım Hizmeti</h3>
        <p>Ürünlerimiz ile ilgili teknik bilgi almak için bize ulaşın</p>
    </div>
</div>

